<%- include("../partials/head") %>
<%- include("partials/sidenav") %>

	<body id="page-top" style="padding-left: 0%;">
		<!-- Page Content-->
		<div id="bubble" class="container p-md-2">
			<!-- My Books-->
			
		</div>

		<%- include("../components/modal") %>
		<%- include("../components/messageBird") %>
			<%- include("../partials/footer") %>
			<%- include("../partials/scripts") %>