<%- include("partials/_head") %>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<%- include("partials/_navbar") %>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<%- include("partials/_sidebar") %>
					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">All Books</h4>
										</div>
										<div>
											<button type="button" class="btn btn-primary btn-icon-text btn-rounded" onclick="link({url: '/admin/addbook'})">
												<i class="ti-plus btn-icon-prepend"></i>Add New Book
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Books</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-3">
													<%= books.length %>
												</h3>
												<i class="ti-book icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Revenue</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<% let sum = 0; %>
												<% payments.forEach(a => {sum += sum + Number(a.book.price)}) %>
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">&#x20A6;<%= Number((sum).toFixed(2)).toLocaleString() %></h3>
												<i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Downloads</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><%= payments.length %></h3>
												<i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Messages</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<!-- TODO: Add real data to this place -->
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">0</h3>
												<i class="ti-email icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Main -->
							<div class="col-12 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">All Books</h4>
										<p class="card-description">
											Edit and Delete a Book
										</p>
										<div class="row d-flex justify-content-center align-items-start">
											<% if(books.length){ %>
												<% books.forEach(book=> { %>
													<!--  -->
													<div id="<%= book._id.toString().substr(6, 18) %>"
														class="col-md-4 d-flex justify-content-center align-items-center my-3">
														<div class="card card-options-control mw-90">
															<img src="/<%= book.image.path %>"
																class="img-fluid card-image">
															<div class="card-body">
																<div
																	class="d-flex justify-content-center align-items-center">
																	<h6>
																		<%= book.title %>
																	</h6>
																</div>
															</div>
															<div class="card-options">
																<button type="button"
																	class="btn btn-inverse-success btn-rounded btn-icon" onclick="link({url: '/admin/editbook?edit=true&pq=<%= book._id %>&id=<%= book._id.toString().substr(0, 4) %>'})">
																	<i class="ti-pencil"></i>
																</button>	
																<button type="button"
																	class="btn btn-inverse-danger btn-rounded btn-icon"
																	onclick="modal({type: 'form', title: 'Confirmation', message: 'Are you sure you want to delete this book', method: {name: 'deleteBook', params: {itemId: '<%= book._id %>'}}})">
																	<i class="ti-trash"></i>
																</button>
															</div>
														</div>
													</div>
													<% }); %>
														<% }else{ %>
															<div class="heading">
																<h3 class="text-dark text-center">No Books Avaliable Yet
																</h3>
															</div>
															<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
						<!-- partial:partials/_footer.html -->
						<%- include("partials/_footer") %>
							<!-- partial -->
					</div>
					<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<%- include("partials/_script") %>
		<!-- script for this book page -->
		<script src="/RoyalUI/js/books.js"></script>
	</body>

	</html>