<%- include("partials/_head") %>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<%- include("partials/_navbar") %>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<%- include("partials/_sidebar") %>
					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">Edit Home</h4>
										</div>
										<div>
											<button type="button" class="btn btn-primary btn-icon-text btn-rounded"
												onclick="link({url: '/admin'})">
												<i class="ti-arrow-left btn-icon-prepend"></i>Back
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Main -->
							<!-- Head -->
<%- include("../partials/_head") %>
<!-- Navbar -->
<%# include("../partials/_navbar") %>
	<!-- Header -->
	<%# include("components/carousel") %>
	<div class="row">
		<div class="col-12 d-flex justify-content-center align-items-center"><h4 class="text-dark">What can I do here? <button class="btn" onclick="modal({type: 'info', title: 'What can I do here?', message: 'You can edit the home page text. Anywhere you see <i class=\'ti-write text-p\'></i> you can edit that text. Make sure the page looks good before you save <i class=\'ti-save text-p\'></i>.'})">Click</button></h4></div>
	</div>
		<!-- Main section -->
		<!-- About Me -->
		<section>
			<div class="">
				<div id="About" class="row no-gutters justify-content-center">
					<div class="container my-5">
						<div class="heading">
							<h2 class="text-center text-dark" contenteditable="true"><%= page.aboutMe.topic %></h2>
						</div>
						<div class="design d-flex justify-content-center align-items-center w-100">
							<hr class="hr w-10 bg-p">
							<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
								style="width: 2rem; height: 2rem;">R</div>
							<hr class="hr w-10 bg-p">
						</div>
					</div>
					<div class="col-md-6">
						<img class="img-fluid" src="/assets/img/aboutImg.jpg" alt="img">
					</div>
					<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
						<div class="container">
							<div class="heading">
								<h3 class="text-dark" contenteditable="true"><%= page.aboutMe.aboutTitle %></h3>
							</div>

							<!-- About Me Body -->
							<div class="text-block">
								<% page.aboutMe.body.forEach(body => { %>
									<p class="text-dark" contenteditable="true"><%= body %></p>
								<% }); %> 
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<!-- Believes -->
		<section>
			<div id="Believes" class="bg-img p-2 p-md-5 w-100">
				<div class="container d-flex flex-column justify-content-center align-items-center">
					<div class="heading mb-3">
						<h3 class="text-light" contenteditable="true"><%= page.believes.title %></h3>
					</div>
					<div class="text-block text-center">
						<p class="believs text-light d-none activeBelievesContent" contenteditable="true"><%= page.believes.cross %></p>
						<p class="believs text-light d-none" contenteditable="true"><%= page.believes.bell %></p>
						<p class="believs text-light d-none" contenteditable="true"><%= page.believes.bible %></p>
						<p class="believs text-light d-none" contenteditable="true"><%= page.believes.church %></p>
					</div>
				</div>
				<div class="container-fluid container-md mt-3">
					<div class="d-flex flex-row flex-wrap justify-content-evenly align-items-stretch">
						<div
							class="card activeBelievesCard justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0" onclick="believs({e: this, believs: 0 })">
							<img class="card-img-top mw-30 mt-3" src="/assets/img/cross.png" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title text-center">The Cross</h5>
							</div>
						</div>
						<div
							class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0" onclick="believs({e: this, believs: 1 })">
							<img class="card-img-top mw-30 mt-3" src="/assets/img/bell.png" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title text-center">The Bell</h5>
							</div>
						</div>
						<div
							class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0" onclick="believs({e: this, believs: 2 })">
							<img class="card-img-top mw-30 mt-3" src="/assets/img/bible.png" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title text-center">The Bible</h5>
							</div>
						</div>
						<div
							class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0" onclick="believs({e: this, believs: 3 })">
							<img class="card-img-top mw-30 mt-3" src="/assets/img/church.png" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title text-center">The Church</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Achievements  -->
		<section>
			<div id="Achievements" class="container my-5">
				<div class="container my-5">
					<div class="heading">
						<h2 class="text-center text-dark">Achievements</h2>
					</div>
					<div class="design d-flex justify-content-center align-items-center w-100">
						<hr class="hr w-10 bg-p">
						<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
							style="width: 2rem; height: 2rem;">R</div>
						<hr class="hr w-10 bg-p">
					</div>
					<div class="text-block">
						<p class="container text-center text-dark" contenteditable="true"><%= page.achievements.title %></p>
					</div>
				</div>
				<div class="container center-sqr">
					<div class="row no-gutters justify-content-center flex-row-reverse">
						<div class="col-md-6">
							<img class="img-fluid" src="/assets/img/achievements1.jpg" alt="img">
						</div>
						<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
							<div class="container">
								<div class="heading">
									<h3 class="text-dark" contenteditable="true"><%= page.achievements.achievements[0].title %></h3>
								</div>
								<div class="text-block">
									<span class="text-dark" contenteditable="true"><%= page.achievements.achievements[0].body %></span>
								</div>
							</div>
						</div>
					</div>
					<!--  -->
					<div class="row no-gutters justify-content-center flex-row">
						<div class="col-md-6">
							<img class="img-fluid" src="/assets/img/achievements2.jpg" alt="img">
						</div>
						<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
							<div class="container">
								<div class="heading">
									<h3 class="text-dark" contenteditable="true"><%= page.achievements.achievements[1].title %></h3>
								</div>
								<div class="text-block">
									<span class="text-dark" contenteditable="true"><%= page.achievements.achievements[1].body %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Books -->
		<section>
			<div id="Books" class="">
				<div class="container my-5">
					<div class="heading">
						<h2 class="text-center text-dark" contenteditable="true"><%= page.book.topic %></h2>
					</div>
					<div class="design d-flex justify-content-center align-items-center w-100">
						<hr class="hr w-10 bg-p">
						<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
							style="width: 2rem; height: 2rem;">R</div>
						<hr class="hr w-10 bg-p">
					</div>
					<div class="text-block">
						<p class="container text-center text-dark" contenteditable="true"><%= page.book.title %></p>
					</div>
				</div>
				<div class="container row d-flex justify-content-center align-items-start">
					<% if(books.length){ %> 
						<% for (let i = 0; i < 3; i++) { %>
							<% const book = books[i]; %>
							
							<!--  -->
							<div class="col-md-4 my-3 d-flex justify-content-end align-items-center">
								<div class="card mw-90">
									<img src="/<%= book.image.path %>" class="img-fluid card-image">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<h6>
												<%= book.title %>
											</h6>
										</div>
										<span class="mb-5">
											<%= book.description.length > 32? book.description.substr(0, 32) + "...": book.description %> 
										</span>
										<div class="d-flex justify-content-between align-items-center mt-3">
											<button class="btn btn-primary text-white" target="_parent" rel="noopener noreferrer" onclick="link({url: '/admin/editbook?edit=true&pq=<%= book._id %>&id=<%= book._id.toString().substr(0, 4) %>'})">Edit Book <i class="ti-pencil"></i></button>
											<!-- <span class="price">$80</span> -->
										</div>
									</div>
								</div>
							</div>
							<% } %> 
							<div class="container d-flex justify-content-center align-items-center my-3">
								<a href="/admin/books" class="btn btn-primary bg-s border-0 text-light p-3">Edit Other Books</a>
							</div>
					<% }else{ %> 
						<div class="heading">
							<h3 class="text-dark text-center">No Books Avaliable Yet</h3>
						</div>
					<% } %> 
				</div>
			</div>
		</section>

		<!-- Submit Button -->
		<button type="button" id="editPage" class="btn d-flex justify-content-center align-items-center rounded-circle bg-p bg-s-hover text-light" onclick="savePage()">
			<i class="ti-save"></i>
		</button>
		<!-- end of submit button -->
		<script>
			// control the believes cards
			const beliveContent = document.getElementsByClassName("believs");

			// function to get the card to activate and the card to turn off
			function believs(data) {
				for (let i = 0; i < beliveContent.length; i++) {
					const belive = beliveContent[i];
					belive.classList.remove("activeBelievesContent");
					data.e.parentElement.children[i].classList.remove("activeBelievesCard");
				}
				data.e.classList.add("activeBelievesCard");
				beliveContent[data.believs].classList.add("activeBelievesContent");
			}
		</script>
			<!-- Scripts -->
			<%# include("partials/_scripts") %>
						</div>
						<!-- content-wrapper ends -->
						<!-- partial:partials/_footer.html -->
						<%- include("partials/_footer") %>
							<!-- partial -->
					</div>
					<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<%- include("partials/_script") %>
		<!-- script for this book page -->
		<script src="/RoyalUI/js/editPage.js"></script>
	</body>

	</html>