<%- include("partials/_head") %>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<%- include("partials/_navbar") %>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<%- include("partials/_sidebar") %>
					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">User messages</h4>
										</div>
										<div>
											<button type="button" class="btn btn-primary btn-icon-text btn-rounded"
												onclick="link({url: '/admin/logout'})">
												<i class="ti-arrow-left btn-icon-prepend"></i>Logout
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">	
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Books</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-3">
													<%= books.length %>
												</h3>
												<i class="ti-book icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Revenue</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<% let sum = 0; %>
												<% payments.forEach(a => {sum += sum + Number(a.book.price)}) %>
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">&#x20A6;<%= Number((sum).toFixed(2)).toLocaleString() %></h3>
												<i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Downloads</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><%= messages.length %></h3>
												<i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 grid-margin stretch-card">
									<div style="cursor: pointer;" class="card cursor-poiner" onclick="link({url: '/admin/messages'})">
										<div class="card-body">
											<p class="card-title text-md-center text-xl-left">Messages</p>
											<div
												class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
												<!-- TODO: Add real data to this place -->
												<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><%= messages.length %></h3>
												<i class="ti-email icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<div class="d-flex flex-row justify-content-between">
												<p class="card-title mb-0">Recent Messages</p>
												<form action="/admin/messages" method="POST">
													<button type="submit" class="btn btn-sm btn-outline-danger btn-icon-text">
														<i class="ti-filter btn-icon-prepend"></i>
														Clear messages
													</button>
												</form>
											</div>
											<div class="table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>Name</th>
															<th>Email</th>
															<th>Message</th>
														</tr>
													</thead>
													<tbody>
														<% messages.forEach(message => { %>
															<tr onclick="link({url: '/admin/messagedetails?q=<%= Math.floor(Math.random() * 99999999) %>&ci=<%= message._id %>&public=true', id: '<%= message._id %>'})">
																<td><%= message.name %></td>
																<td><%= message.email %></td>
																<td class=""><%= message.message.length > 15? message.message.substr(0, 15) + "...": message.message %></td>
															</tr>
														<% }); %> 
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
						<%- include("partials/_footer") %>
					</div>
					<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<%- include("partials/_script") %>
		</body>

		</html>