<%- include("partials/_head") %>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<%- include("partials/_navbar") %>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<%- include("partials/_sidebar") %>
					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<h4 class="font-weight-bold mb-0">Payment Description</h4>
										</div>
										<div>
											<a href="/admin/dashboard" class="btn btn-primary btn-icon-text btn-rounded">
												<i class="ti-arrow-left btn-icon-prepend"></i>Back
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 grid-margin">
									<div class="row d-flex justify-content-between align-items-center">
										<div class="col-md-4 grid-margin">
											<h3 class="font-weight-bold">NGN <%= Intl.NumberFormat("en-US").format(Number(payment.book.price)) %></h3>
										</div>
										<div class="align-items-center col-md-8 d-flex grid-margin justify-content-md-end justify-content-start my-justify">
											<span class="mx-2"><%= JSON.stringify(payment.createdAt).substr(1, 10) %></span>
											<span class="mx-2"><label class="badge <%= payment.status == "successful"? "badge-success": "badge-danger" %> rounded-sm "><%= payment.status %></label></span>
											<button type="button" class="btn btn-danger btn-icon-text btn-sm rounded-sm" onclick="modal({type: 'form', message: 'Do you want to <strong> Refund <%= payment.user.username %> </strong>', title: 'Refund A Customer', method: {name: 'deleteItem', params: {url: '/'}}})">
												<i class="ti-back-left btn-icon-prepend"></i>Refund customer
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Payment from <%= payment.user.username %>
											</h4>
											<div class="row d-flex justify-content-md-between">
												<div class="col d-flex flex-column justify-content-md-center my-2">
													<span class="card-description mb-1">Transaction ID</span>
													<span class="text-muted">
														<%= payment.transaction_id %>
													</span>
												</div>
												<div class="col d-flex flex-column justify-content-md-center my-2">
													<span class="card-description mb-1">Payment ID</span>
													<span class="text-muted">
														<%= payment._id %>
													</span>
												</div>
												<div class="col d-flex flex-column justify-content-md-center my-2">
													<span class="card-description mb-1">Payment Reference</span>
													<span class="text-muted">
														<%= payment.tx_ref %>
													</span>
												</div>
												<div class="col d-flex flex-column justify-content-md-center my-2">
													<span class="card-description mb-1">Shipping Fee</span>
													<span class="text-muted">NGN<%# payment.shipping %> 0</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 d-flex align-items-stretch">
									<div class="row">
										<div class="col-md-12 grid-margin stretch-card">
											<div class="card">
												<div class="card-body">
													<h4 class="card-title">Customer Information</h4>
													<div class="row d-flex justify-content-md-between">
														<div class="col d-flex flex-column justify-content-md-center my-2">
															<span class="card-description mb-1">Email Address</span>
															<span class="text-muted">
																<%= payment.user.username%>
															</span>
														</div>
													</div>
													<div class="row d-flex justify-content-md-between">
														<div class="col d-flex flex-column justify-content-md-center my-2">
															<span class="card-description mb-1">Date</span>
															<span class="text-muted">
																<%= JSON.stringify(payment.createdAt).substr(1, 10) %>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 grid-margin stretch-card">
											<div class="card">
												<div class="card-body">
													<h4 class="card-title">Book Information</h4>
													<div class="row d-flex justify-content-md-between">
														<div class="col d-flex flex-column justify-content-md-center cursor-pointer my-2" onclick="modal({type: 'info', message: '<%# payment.details.address1 %>', title: 'Shipping Address'})">
															<span class="card-description mb-1">Name</span>
															<span class="text-muted">
																<%= payment.book.title %>
															</span>
														</div>
														<div class="col d-flex flex-column justify-content-md-center my-2">
															<span class="card-description mb-1">Length</span>
															<span class="text-muted">
																<%= payment.book.length %>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Other Payments</h4>
											<div class="table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>User</th>
															<th>Book</th>
															<th>Cost</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody>
														<% payments.forEach(payment => { %>
															<tr onclick="link({url: '/admin/paymentdetails?q=<%= Math.floor(Math.random() * 99999999) %>&ci=<%= payment._id %>&public=true', id: '<%= payment._id %>'})">
																<td><%= payment.user.username %></td>
																<td><%= payment.book.title %></td>
																<td class="">$<%= payment.book.price %></td>
																<td><label class="badge badge-<%= payment.status == "successful"? "success": "danger" %>"><%= payment.status %></label></td>
															</tr>
														<% }); %> 
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
						<%- include("partials/_footer") %>
					</div>
					<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<%- include("partials/_script") %>
		</body>

		</html>