<!-- Head -->
<%- include("partials/head") %>
	<!-- Navbar -->
	<%- include("partials/navbar") %>
		<!-- Header -->

			<!-- Main section -->
			<!-- Header / Breadcrumb -->
			<section>
				<header class="position-relative mvh-70 overflow-hidden">
					<img src="/assets/img/slide2.jpg" alt="header" class="img-fluid filter-brightness">
					<div class="text-block text-center position-absolute top-50 start-50 translate-middle-x">
						<h1 class="text-light">My Books</h1>
						<span class="text-light">Home / Books</span>
					</div>
				</header>
			</section>
			<!-- Books -->
			<section>
				<div id="Books" class="mt-5">
					<div class="container my-5">
						<div class="heading">
							<h2 class="text-center text-dark">Get Our Books</h2>
						</div>
						<div class="design d-flex justify-content-center align-items-center w-100">
							<hr class="hr w-10 bg-p">
							<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
								style="width: 2rem; height: 2rem;">R</div>
							<hr class="hr w-10 bg-p">
						</div>
						<div class="text-block">
							<p class="container text-center text-dark">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum architecto
								repellat
								ipsa facilis commodi incidunt aut nemo, voluptatum error impedit, earum ducimus! Iste
								qui
								nesciunt optio dolor odio ipsam!
							</p>
						</div>
					</div>
					<div class="container row d-flex justify-content-center align-items-start">
						<% books.forEach(book => { %>
							<!--  -->
							<div class="col-md-4 d-flex justify-content-center align-items-center my-3">
								<div class="card mw-90">
									<img src="/<%= book.image.path %>" class="img-fluid card-image">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<h6>
												<%= book.title %>
											</h6>
										</div>
										<span class="mb-5">
											<%= book.description.length > 32? book.description.substr(0, 32) + "...": book.description %> 
										</span>
										<div class="d-flex justify-content-between align-items-center mt-3">
											<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>" class="btn btn-primary text-white" target="_parent"
												rel="noopener noreferrer">Read Article</a>
											<!-- <span class="price">$80</span> -->
										</div>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
			</section>

			<!-- Message Bird -->
		<%- include("components/messageBird") %>
			<!-- LogIn and Register Modal -->
		<%- include("components/loginModal") %>
			<!-- Contact / Footer -->
			<%- include("partials/contact_footer") %>
				<!-- Scripts -->
				<%- include("partials/scripts") %>