<!-- Head -->
<%- include("partials/_head") %>
	<!-- Navbar -->
	<%- include("partials/_navbar") %>
		<!-- Header -->

		<!-- Main section -->
		<!-- Header / Breadcrumb -->
		<section>
			<header class="position-relative mvh-70 overflow-hidden">
				<img src="/assets/img/slide3.jpg" alt="header" class="img-fluid filter-brightness">
				<div class="text-block text-center position-absolute top-50 start-50 translate-middle-x">
					<h1 class="text-light">Buy My Books</h1>
					<span class="text-light">Home / Books / Buy</span>
				</div>
			</header>
		</section>
		<!-- Books -->
		<section>
			<div class="container my-5">
				<div class="row">
					<!-- This is a row of three column for book to be sold, description of the book, and other books -->
					<!-- Book -->
					<!-- On small screens this page is disabled -->
					<div class="d-none d-lg-block col-lg-2">
						<img src="/<%= theBook.image.path %>" class="img-fluid">
						
						<% if(user){ %> 
							<% if(hasPaid){ %> 
								<div class="text-block">
									<a href="/<%= theBook.shelf.path %> " class="btn btn-primary text-white" download="<%= theBook.title %>">Paid <i class="fa fa-download"></i></a>
								</div>
							<% }else{ %> 
								<!-- FORM FOR FLUTTERWAVE PAYMENT -->
								<form id="paymentForm1" method="POST" action="/books/<%= theBook.title %>?pq=<%= theBook._id %>">
									<input type="hidden" class="d-none d-lg-block col-lg-2" id="bookId" value="<%= theBook._id %>">
									<input type="hidden" class="d-none d-lg-block col-lg-2" id="title" value="<%= theBook._id %>">
									<script src="https://checkout.flutterwave.com/v3.js"></script>
									<input type="hidden" class="d-none d-lg-block col-lg-2" id="username" name="username" value="<%= user %>">
									<input type="hidden" class="d-none d-lg-block col-lg-2" id="price" name="price" value="<%= theBook.price %>">
									<div class="text-block">
										<a href="#x" class="btn btn-primary text-white" onclick="makePayment()">Pay Now</a>
									</div>
								</form>
								<div class="text-block">
									<span class="text-dark"><strong>$<%= theBook.price %></strong> <i class="fa fa-coin"></i></span>
								</div>
							<% } %> 
							<% }else{ %> 
								<div class="text-block">
									<a href="#x" class="btn btn-primary text-white" onclick="openLogInModal()">Buy Book</a>
								</div>
								<div class="text-block">
									<span class="text-dark"><strong>$<%= theBook.price %></strong> <i class="fa fa-coin"></i></span>
								</div>
							<% } %> 
						
						<!-- TODO: ratings later -->
						<div class="text-block">
							<small class="text-dark text-muted">Rate This Book</small>
							<div class="star">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<!-- Description -->
					<div class="col-md-8 col-lg-6">
						<!-- This is the book image and buy book section in small screend -->
						<div class="d-lg-none">
							<img src="/<%= theBook.image.path %>" class="img-fluid">
							<% if(user){ %> 
								<% if(hasPaid){ %> 
									<div class="text-block">
										<a href="/<%= theBook.shelf.path %> " class="btn btn-primary text-white" download="<%= theBook.title %>">Paid <i class="fa fa-download"></i></a>
									</div>
								<% }else{ %> 
									<!-- FORM FOR FLUTTERWAVE PAYMENT -->
									<form id="paymentForm2" method="POST" action="/books/<%= theBook.title %>?pq=<%= theBook._id %>">
										<script src="https://checkout.flutterwave.com/v3.js"></script>
										<div class="text-block">
											<a href="#x" class="btn btn-primary text-white" onclick="makePayment()">Pay Now</a>
										</div>
									</form>
									<div class="text-block">
										<span class="text-dark"><strong>$<%= theBook.price %></strong> <i class="fa fa-coin"></i></span>
									</div>
								<% } %> 
								<% }else{ %> 
									<div class="text-block">
										<a href="#x" class="btn btn-primary text-white" onclick="openLogInModal()">Buy Book</a>
									</div>
									<div class="text-block">
										<span class="text-dark"><strong>$<%= theBook.price %></strong> <i class="fa fa-coin"></i></span>
									</div>
								<% } %> 
							<div class="text-block">
								<small class="text-dark text-muted">Rate This Book</small>
								<!-- TODO -->
								<div class="star">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<div class="heading">
							<!-- The book name -->
							<h2 class="text-dark"><%= theBook.title %></h2>
						</div>
						<div class="text-block d-md-inline-flex">
							<span class="text-muted me-3"><%= page.aboutMe.names.title + " " + page.aboutMe.names.firstName + " " + page.aboutMe.names.middleName + " " + page.aboutMe.names.lastName %></span>
							<!-- TODO -->
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<!-- TODO: sales -->
						<div class="text-block">
							<small class="text-muted">209+ sales</small><span class="text-dark">&nbsp;·&nbsp;</span>
							<small class="text-muted"><%= theBook.length.substr(1, 2) %>+ reviews</small><span class="text-dark">&nbsp;·&nbsp;</span>
							<small class="text-muted"><%= theBook.length.substr(0, 2) %>+ currently reading</small>
						</div>
						<!-- About Book details -->
						<div class="text-block mt-3">
							<p class="text-dark">
								<span class="text-dark">
									<%= theBook.description.substr(0, 500) %>
								</span>
								<span class="text-dark" data-hidden="true">
									<%= theBook.description.substr(500, theBook.description.length) %>
								</span>
								<span class="text-dark text-muted text-p-hover cursor-pointer" onclick="showHidden(this)">...Read more</span>
							</p>
						</div>
						<hr class="hr w-50">
						<!-- TODO: Status and pages -->
						<div class="text-block">
							<small class="text-dark text-muted">Status: Unpaied</small><br>
							<small class="text-dark text-muted">Pages: <%= theBook.length %> </small>
						</div>
						<div class="text-block" data-hidden="true">
							<small class="text-dark text-muted">Language: English</small><br>
							<small class="text-dark text-muted">Published: 2016</small>
						</div>
						<small class="text-dark text-muted text-p-hover cursor-pointer" onclick="showHidden(this)">...Read more</small>
						<!-- this div is used to hide this part -->
						<div class="position-relative d-none">
						<hr class="hr w-100">
						<!-- Area for Question and Answer -->
						<div class="heading">
							<h6 class="text-dark">Questions and Comments</h6>
						</div>
						<!-- TODO: Form to be submited for to the books/question route -->
							<div class="cursor-band position-absolute w-100 h-100" style="filter: blur(5rem); background-color: #ffffff"></div>
							<form action="/books/question" method="post">
								<div class="form-group">
									<label for="comment">Comment:</label>
									<textarea class="form-control" rows="2" id="comment" placeholder="Ask a question or place a comment about this theBook..."></textarea>
								</div>
								<button type="submit" class="btn btn-primary mt-2">Send</button>
							</form>
							<!-- Comment section -->
							<div class="container-fluid">
								<!-- COMMENT 1 -->
								<div class="comment">
									<hr class="hr w-100">
									<div class="row">
										<!-- comment img for profile -->
										<div class="col-md-2">
											<img src="/assets/img/profile1.jpg" alt="profile" class="img-fluid rounded-circle" style="height: 3rem;width: 3rem;">
										</div>
										<div class="col-md-10">
											<div class="heading">
												<div class="h6 text-dark">Profile Name</div>
											</div>
											<div class="text-block">
												<p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit natus atque fugiat.</p>
											</div>
											<div class="text-block">
												<small class="text-dark text-muted">Like 21</small><span class="text-dark">&nbsp;·&nbsp;</span>
												<small class="text-dark text-muted"><i class="fa fa-thumbs-up"></i></small><span class="text-dark">&nbsp;·&nbsp;</span>
												<small class="text-dark text-muted">Jan 21, 2021</small>
											</div>
										</div>
									</div>
								</div>
								<!-- COMMENT 2 -->
								<div class="comment">
									<hr class="hr w-100">
									<div class="row">
										<!-- comment img for profile -->
										<div class="col-md-2">
											<img src="/assets/img/profile1.jpg" alt="profile" class="img-fluid rounded-circle" style="height: 3rem;width: 3rem;">
										</div>
										<div class="col-md-10">
											<div class="heading">
												<div class="h6 text-dark">Profile Name</div>
											</div>
											<div class="text-block">
												<p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit natus atque fugiat.</p>
											</div>
											<div class="text-block">
												<small class="text-dark text-muted">Like 21</small><span class="text-dark">&nbsp;·&nbsp;</span>
												<small class="text-dark text-muted"><i class="fa fa-thumbs-up"></i></small><span class="text-dark">&nbsp;·&nbsp;</span>
												<small class="text-dark text-muted">Jan 21, 2021</small>
											</div>
										</div>
									</div>
								</div>
								<!-- COMMENT 3 -->
								<div class="comment">
									<hr class="hr w-100">
									<div class="row">
										<!-- comment img for profile -->
										<div class="col-md-2">
											<img src="/assets/img/profile1.jpg" alt="profile" class="img-fluid rounded-circle" style="height: 3rem;width: 3rem;">
										</div>
										<div class="col-md-10">
											<div class="heading">
												<div class="h6 text-dark">Profile Name</div>
											</div>
											<div class="text-block">
												<p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit natus atque fugiat.</p>
											</div>
											<div class="text-block">
												<small class="text-dark text-muted">Like 21</small><span class="text-dark">&nbsp;·&nbsp;</span>
												<small class="text-dark text-muted"><i class="fa fa-thumbs-up"></i></small><span class="text-dark">&nbsp;·&nbsp;</span>
												<small class="text-dark text-muted">Jan 21, 2021</small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Others -->
					<!-- Column 3 -->
					<div class="col-md-4 d-none d-md-block">
						<!-- About the author -->
						<div class="mt-5">
							<div class="d-flex justify-content-center align-content-center">
								<img src="/<%= page.profile.path %>" alt="Author" class="img-fluidn rounded-circle" style="width: 6rem;height: 6rem;">
							</div>
							<div class="heading">
								<h6 class="text-dark text-center">The Author</h6>
							</div>
							<div class="text-block">
								<p class="text-dark">
									<%= page.aboutMe.body[Math.floor(Math.random() * 4)] %> 
								</p>
							</div>
						</div>
						<!-- Carousel -->
						<div class="heading text-uppercase">
							<h6 class="text-dark">Readers also enjoy </h6>
						</div>
						<hr class="hr w-100">
						<!-- This is a carousel to display the books -->
						<section>
							<header>
								<div id="carouselExampleCaptions" class="carousel slide overflow-hidden" data-bs-ride="carousel">
									<div class="carousel-inner">
										<% books.forEach((book, index) => { %>
											<% if(index == 0){ %>
												<div class="carousel-item active" data-bs-interval="6000">
													<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>">
														<img src="/<%= book.image.path %>" class="d-block w-100" alt="...">
													</a>
												</div>
											<% }else{ %>
												<div class="carousel-item" data-bs-interval="6000">
													<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>">
														<img src="/<%= book.image.path %>" class="d-block w-100" alt="...">
													</a>
												</div>
											<% } %>
										<% }); %> 
										</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
										data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
										data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Next</span>
									</button>
								</div>
							</header>
						</section>
						<div class="text-block d-flex justify-content-end align-items-center">
							<a href="/books" class="text-dark text-muted text-p-hover">See more books...</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Message Bird -->
		<%- include("components/messageBird") %>
		<!-- LogIn and Register Modal -->
		<%- include("components/loginModal") %>
		<!-- Contact / Footer -->
		<%- include("partials/_contact_footer") %>
		<!-- Axios -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"
		integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- flutterwave script -->
		<script src="/js/flutterwave.js"></script>
		<script>
			const hiddenData = document.querySelectorAll("[data-hidden='true']");
			for (let i = 0; i < hiddenData.length; i++) {
				const data = hiddenData[i];
				data.style.display = "none";
			}
			function showHidden(e) {
				if(JSON.parse(e.previousElementSibling.getAttribute("data-hidden"))){
					e.innerText = "Read less";
					e.previousElementSibling.style.display = "block";
					e.previousElementSibling.setAttribute("data-hidden", "false");
				}else{
					console.log("false");
					e.innerText = "...Read more";
					e.previousElementSibling.style.display = "none";
					e.previousElementSibling.setAttribute("data-hidden", "true");
				}
			}
		</script>
<!-- Scripts -->
<%- include("partials/_scripts") %>