<!-- Head -->
<%- include("partials/head") %>
	<!-- Navbar -->
	<%- include("partials/navbar") %>
		<!-- Header -->
		<%- include("components/carousel") %>

			<!-- Main section -->
			<!-- About Me -->
			<section>
				<div class="mt-5">
					<div id="About" class="row no-gutters justify-content-center">
						<div class="container my-5">
							<div class="heading">
								<h2 class="text-center text-dark">A Little About Me</h2>
							</div>
							<div class="design d-flex justify-content-center align-items-center w-100">
								<hr class="hr w-10 bg-p">
								<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
									style="width: 2rem; height: 2rem;">R</div>
								<hr class="hr w-10 bg-p">
							</div>
						</div>
						<div class="col-md-6">
							<img class="img-fluid" src="assets/img/aboutImg.jpg" alt="img">
						</div>
						<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
							<div class="container">
								<div class="heading">
									<h3 class="text-dark">Lorem, ipsum di deleniti sequi vel, labore reiciendis beatae.
									</h3>
								</div>
								<div class="text-block">
									<p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
										Voluptas
										molestiae consectetur, inventore minima quia quibusdam saepe? Corrupti
										laboriosam culpa
										placeat perferendis aspernatur possimus cumque! Facilis tenetur natus maxime
										quod
										voluptate.
									</p>
								</div>
								<div class="text-block">
									<p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
										Voluptas
										molestiae consectetur, inventore minima quia quibusdam saepe? Corrupti
										laboriosam culpa
										placeat perferendis aspernatur possimus cumque! Facilis tenetur natus maxime
										quod
										voluptate.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- Belives -->
			<section>
				<div id="Belives" class="bg-img p-2 p-md-5 w-100">
					<div class="container d-flex flex-column justify-content-center align-items-center">
						<div class="heading mb-3">
							<h3 class="text-light">Lorem, ipsum di deleniti sequi vel, labore reiciendis beatae.</h3>
						</div>
						<div class="text-block text-center">
							<p class="text-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
								molestiae
								consectetur, inventore minima quia quibusdam saepe? Corrupti laboriosam culpa placeat
								perferendis aspernatur possimus cumque! Facilis tenetur natus maxime quod voluptate.</p>
						</div>
					</div>
					<div class="container-fluid container-md mt-3">
						<div class="d-flex flex-row flex-wrap justify-content-evenly align-items-stretch">
							<div
								class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/cross.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center">The Cross</h5>
								</div>
							</div>
							<div
								class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/bell.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center">The Bell</h5>
								</div>
							</div>
							<div
								class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/bible.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center">The Bible</h5>
								</div>
							</div>
							<div
								class="card justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/church.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center">The Church</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Achievements  -->
			<section>
				<div id="Achievements" class="container my-5">
					<div class="container my-5">
						<div class="heading">
							<h2 class="text-center text-dark">Achievements </h2>
						</div>
						<div class="design d-flex justify-content-center align-items-center w-100">
							<hr class="hr w-10 bg-p">
							<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
								style="width: 2rem; height: 2rem;">R</div>
							<hr class="hr w-10 bg-p">
						</div>
						<div class="text-block">
							<p class="container text-center text-dark">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum architecto
								repellat
								ipsa facilis commodi incidunt aut nemo, voluptatum error impedit, earum ducimus! Iste
								qui
								nesciunt optio dolor odio ipsam!
							</p>
						</div>
					</div>
					<div class="container center-sqr">
						<div class="row no-gutters justify-content-center flex-row-reverse">
							<div class="col-md-6">
								<img class="img-fluid" src="assets/img/achievements1.jpg" alt="img">
							</div>
							<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
								<div class="container">
									<div class="heading">
										<h3 class="text-dark">Lorem, ipsum di deleniti sequi vel, labore reiciendis
											beatae.</h3>
									</div>
									<div class="text-block">
										<span class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing
											elit.
											Voluptas
											molestiae consectetur, inventore minima quia quibusdam saepe? Corrupti
											laboriosam
											culpa placeat perferendis aspernatur possimus cumque! Facilis tenetur natus
											maxime
											quod voluptate.</span>
									</div>
								</div>
							</div>
						</div>
						<!--  -->
						<div class="row no-gutters justify-content-center flex-row">
							<div class="col-md-6">
								<img class="img-fluid" src="assets/img/achievements2.jpg" alt="img">
							</div>
							<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
								<div class="container">
									<div class="heading">
										<h3 class="text-dark">Lorem, ipsum di deleniti sequi vel, labore reiciendis
											beatae.</h3>
									</div>
									<div class="text-block">
										<span class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing
											elit.
											Voluptas
											molestiae consectetur, inventore minima quia quibusdam saepe? Corrupti
											laboriosam
											culpa placeat perferendis aspernatur possimus cumque! Facilis tenetur natus
											maxime
											quod voluptate.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Books -->
			<section>
				<div id="Books" class="">
					<div class="container my-5">
						<div class="heading">
							<h2 class="text-center text-dark">Get Our Books</h2>
						</div>
						<div class="design d-flex justify-content-center align-items-center w-100">
							<hr class="hr w-10 bg-p">
							<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
								style="width: 2rem; height: 2rem;">R</div>
							<hr class="hr w-10 bg-p">
						</div>
						<div class="text-block">
							<p class="container text-center text-dark">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum architecto
								repellat
								ipsa facilis commodi incidunt aut nemo, voluptatum error impedit, earum ducimus! Iste
								qui
								nesciunt optio dolor odio ipsam!
							</p>
						</div>
					</div>
					<div class="container row d-flex justify-content-center align-items-start">
						<% books.forEach(book => { %>
							<!--  -->
							<div class="col-md-4 my-3">
								<div class="card">
									<img src="/<%= book.image.path %>" class="img-fluid">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<h6>
												<%= book.title %>
											</h6>
										</div>
										<span class="mb-5">
											<%= book.description.length > 32? book.description.substr(0, 32): book.description %> 
										</span>
										<div class="d-flex justify-content-between align-items-center mt-3">
											<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>" class="btn btn-primary text-white" target="_parent"
												rel="noopener noreferrer">Read Article</a>
											<!-- <span class="price">$80</span> -->
										</div>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
					<div class="container d-flex justify-content-center align-items-center my-3">
						<a href="/books" class="btn btn-primary bg-s border-0 text-light p-3">More Books</a>
					</div>
				</div>
			</section>

			<!-- Message Bird -->
		<%- include("components/messageBird") %>
			<!-- LogIn and Register Modal -->
		<%- include("components/loginModal") %>
			<!-- Contact / Footer -->
			<%- include("partials/contact_footer") %>
				<!-- Scripts -->
				<%- include("partials/scripts") %>