<!-- Head -->
<%- include("partials/_head") %>
	<!-- Navbar -->
	<%- include("partials/_navbar") %>
		<!-- Header -->
		<%- include("components/carousel") %>

			<!-- Main section -->
			<!-- About Me -->
			<section>
				<div class="mt-5">
					<div id="About" class="row no-gutters justify-content-center">
						<div class="col-12 container my-5">
							<div class="heading">
								<h2 class="text-center text-dark fn-x4">
									<%= page.aboutMe.topic %>
								</h2>
							</div>
							<div class="design d-flex justify-content-center align-items-center w-100">
								<hr class="hr w-10 bg-p">
								<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
									style="width: 2rem; height: 2rem;">R</div>
								<hr class="hr w-10 bg-p">
							</div>
						</div>
						<div class="col-lg-6 d-flex justify-content-center align-items-center">
							<img class="img-fluid" src="assets/img/aboutImg.jpg" alt="img">
						</div>
						<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
							<div class="container">
								<div class="heading">
									<h3 class="text-dark fn-x4">
										<%= page.aboutMe.aboutTitle %>
									</h3>
								</div>

								<!-- About Me Body -->
								<div class="text-block">
									<% page.aboutMe.body.forEach(body => { %>
										<p class="text-dark fn-x2"><%= body %></p>
									<% }); %> 
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- Believes -->
			<section>
				<div id="Believes" class="bg-img p-2 p-md-5 w-100">
					<div class="container d-flex flex-column justify-content-center align-items-center">
						<div class="heading mb-3">
							<h3 class="text-light fn-x4">
								<%= page.believes.title %>
							</h3>
						</div>
						<div class="text-block text-center">
							<p class="believs text-light fn-x2 d-none activeBelievesContent">
								<%= page.believes.cross %>
							</p>
							<p class="believs text-light fn-x2 d-none">
								<%= page.believes.bell %>
							</p>
							<p class="believs text-light fn-x2 d-none">
								<%= page.believes.bible %>
							</p>
							<p class="believs text-light fn-x2 d-none">
								<%= page.believes.church %>
							</p>
						</div>
					</div>
					<div class="container-fluid container-md mt-3">
						<div class="d-flex flex-row flex-wrap justify-content-evenly align-items-stretch">
							<div class="card believesControl activeBelievesCard justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0"
								onclick="believs(0)">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/cross.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center fn-small">The Cross</h5>
								</div>
							</div>
							<div class="card believesControl justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0"
								onclick="believs(1)">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/bell.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center fn-small">The Bell</h5>
								</div>
							</div>
							<div class="card believesControl justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0"
								onclick="believs(2)">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/bible.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center fn-small">The Bible</h5>
								</div>
							</div>
							<div class="card believesControl justify-content-center align-items-center bg-gray-300 bg-p-hover text-light-hover w-40 mw-md-15 min-w-40 min-w-md-15 my-3 my-md-0"
								onclick="believs(3)">
								<img class="card-img-top mw-30 mt-3" src="/assets/img/church.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-center fn-small">The Church</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Achievements  -->
			<section>
				<div id="Achievements" class="container my-5">
					<div class="container my-5">
						<div class="heading">
							<h2 class="text-center text-dark fn-x4">Achievements</h2>
						</div>
						<div class="design d-flex justify-content-center align-items-center w-100">
							<hr class="hr w-10 bg-p">
							<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
								style="width: 2rem; height: 2rem;">R</div>
							<hr class="hr w-10 bg-p">
						</div>
						<div class="text-block">
							<p class="container text-center text-dark fn-x2">
								<%= page.achievements.title %>
							</p>
						</div>
					</div>
					<div class="container center-sqr">
						<div class="row no-gutters justify-content-center flex-row-reverse">
							<div class="col-md-6">
								<img class="img-fluid" src="assets/img/achievements1.jpg" alt="img">
							</div>
							<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
								<div class="container">
									<div class="heading">
										<h3 class="text-dark fn-x3">
											<%= page.achievements.achievements[0].title %>
										</h3>
									</div>
									<div class="text-block">
										<span class="text-dark fn-x2">
											<%= page.achievements.achievements[0].body %>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!--  -->
						<div class="row no-gutters justify-content-center flex-row">
							<div class="col-md-6">
								<img class="img-fluid" style="filter: sepia(0.5)" src="assets/img/achievements2.jpg" alt="img">
							</div>
							<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
								<div class="container">
									<div class="heading">
										<h3 class="text-dark fn-x3">
											<%= page.achievements.achievements[1].title %>
										</h3>
									</div>
									<div class="text-block">
										<span class="text-dark fn-x2">
											<%= page.achievements.achievements[1].body %>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Books -->
			<section>
				<div id="Books" class="">
					<div class="container my-5">
						<div class="heading">
							<h2 class="text-center text-dark fn-x4">
								<%= page.book.topic %>
							</h2>
						</div>
						<div class="design d-flex justify-content-center align-items-center w-100">
							<hr class="hr w-10 bg-p">
							<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
								style="width: 2rem; height: 2rem;">R</div>
							<hr class="hr w-10 bg-p">
						</div>
						<div class="text-block">
							<p class="container text-center text-dark fn-x2">
								<%= page.book.title %>
							</p>
						</div>
					</div>
					<div class="container row d-flex justify-content-center align-items-start">
						<% if(books.length){ %>
							<% for (let i=0; i < 3; i++) { %>
								<% const book=books[i]; %>

									<!--  -->
									<div class="col-md-4 my-3 d-flex justify-content-end align-items-center	">
										<div class="card mw-90">
											<img src="/<%= book.image.path %>" class="img-fluid card-image">
											<div class="card-body">
												<div class="d-flex justify-content-between align-items-center">
													<h6 class="fn-small">
														<%= book.title %>
													</h6>
												</div>
												<span class="mb-5 fn-small">
													<%= book.description.length> 32? book.description.substr(0, 32) +
														"...": book.description %>
												</span>
												<div class="d-flex justify-content-between align-items-center mt-3">
													<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>"
														class="btn btn-primary text-white fn-small" target="_parent"
														rel="noopener noreferrer">See Details</a>
													<!-- <span class="price">$80</span> -->
												</div>
											</div>
										</div>
									</div>
									<% } %>
										<div class="container d-flex justify-content-center align-items-center my-3">
											<a href="/books" class="btn btn-primary bg-s border-0 text-light fn-x2 p-3">More
												Books</a>
										</div>
										<% }else{ %>
											<div class="heading">
												<h3 class="text-dark text-center fn-x3">No Books Avaliable Yet</h3>
											</div>
											<% } %>
					</div>
				</div>
			</section>

			<!-- Message Bird -->
			<%- include("components/messageBird") %>
				<!-- LogIn and Register Modal -->
				<%- include("components/loginModal") %>
					<!-- Contact / Footer -->
					<%- include("partials/_contact_footer") %>
						<script>
							// control the believes cards
							const beliveContent = document.getElementsByClassName("believs");
							const beliveControls = document.getElementsByClassName("believesControl");

							// function to get the card to activate and the card to turn off
							function believs(data) {
								for (let i = 0; i < beliveContent.length; i++) {
									const belive = beliveContent[i];
									belive.classList.remove("activeBelievesContent");
									beliveControls[data].parentElement.children[i].classList.remove("activeBelievesCard");
								}
								beliveControls[data].classList.add("activeBelievesCard");
								beliveContent[data].classList.add("activeBelievesContent");
							}
						</script>
						<!-- Scripts -->
						<%- include("partials/_scripts") %>