<!-- Head -->
<%- include("partials/_head") %>
	<!-- Navbar -->
	<%- include("partials/_navbar") %>
		<!-- Header -->

			<!-- Main section -->
			<!-- Header / Breadcrumb -->
			<section>
				<header class="position-relative mvh-70 overflow-hidden">
					<img src="/assets/img/slide2.jpg" alt="header" class="img-fluid filter-brightness">
					<div class="text-block text-center position-absolute top-50 start-50 translate-middle-x">
						<h1 class="text-light">My Books</h1>
						<span class="text-light">Home / User / Books</span>
					</div>
				</header>
			</section>
			<!-- Books -->
			<section>
				<div id="Books" class="mt-5">
					<div class="container row d-flex justify-content-center align-items-start">
						<% if(myBooks.length){ %>
							<div class="container my-5">
								<div class="heading">
									<h2 class="text-center text-dark">All Books Owned By You</h2>
								</div>
								<div class="design d-flex justify-content-center align-items-center w-100">
									<hr class="hr w-10 bg-p">
									<div class="d-flex justify-content-center align-items-center rounded-circle border border-p text-p"
										style="width: 2rem; height: 2rem;">R</div>
									<hr class="hr w-10 bg-p">
								</div>
								<div class="text-block">
									<p class="container text-center text-dark">This is where you will find all your purchased books</p>
								</div>
							</div>
							<% myBooks.forEach(book => { %>
								<!--  -->
								<div class="col-md-4 d-flex justify-content-end align-items-center my-3">
									<div class="card mw-90">
										<img src="http://www.drimudjejp.com/<%= book.image.path %>" class="img-fluid card-image">
										<div class="card-body">
											<div class="d-flex justify-content-between align-items-center">
												<h6>
													<%= book.title %>
												</h6>
											</div>
											<span class="mb-5">
												<%= book.description.length > 32? book.description.substr(0, 32) + "...": book.description %> 
											</span>
											<div class="d-flex justify-content-between align-items-center mt-3">
												<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>" class="btn btn-primary text-white" target="_parent"
													rel="noopener noreferrer">See Details</a>
												<span class="price cursor-pointer" onclick="openModal({title: 'Get the hard copy', body: `Make a request to get the hard copy of the book. Tell us how you want to receive it. <br> WhatsApp us on <a class='text-p' href='tel:<%- page.aboutMe.whatsapp %>'><%- page.aboutMe.whatsapp %></a><br> Call us on <a class='text-p' href='tel:<%- page.aboutMe.phoneNo %>'><%- page.aboutMe.phoneNo %></a>`})">Get hard copy</span>
											</div>
										</div>
									</div>
								</div>
							<% }); %>
						<% }else{ %> 
							<div class="heading">
								<h2 class="text-dark text-center">You do not have any book yet!</h2>
							</div>
						<% } %> 
							<!--  -->
						<hr>
						<div class="heading">
							<h4 class="text-dark">Books you may like</h4>
						</div>  
						<% if(books.length){ %>
							<% for (let i = books.length - 1; i > books.length - 4; i--) { %>
								<% const book = books[i]; %>
								
								<!--  -->
								<div class="col-md-4 d-flex justify-content-end align-items-center my-3">
									<div class="card mw-90">
										<img src="http://www.drimudjejp.com/<%= book.image.path %>" class="img-fluid card-image">
										<div class="card-body">
											<div class="d-flex justify-content-between align-items-center">
												<h6>
													<%= book.title %>
												</h6>
											</div>
											<span class="mb-5">
												<%= book.description.length > 32? book.description.substr(0, 32) + "...": book.description %> 
											</span>
											<div class="d-flex justify-content-between align-items-center mt-3">
												<a href="/books/<%= book.title %>?pq=<%= book._id %>&tr=<%= Math.floor(Math.random() * 1233) %>" class="btn btn-primary text-white" target="_parent"
													rel="noopener noreferrer">See Details</a>
												<!-- <span class="price">$80</span> -->
											</div>
										</div>
									</div>
								</div>
							<% } %> 
					<% }else{ %> 
						<div class="heading">
							<h3 class="text-dark text-center">No Books Avaliable Yet</h3>
						</div>
					<% } %>
					</div>
				</div>
			</section>

			<!-- Message Bird -->
		<%- include("components/messageBird") %>
			<!-- LogIn and Register Modal -->
		<%- include("components/loginModal") %>
		<!-- LogIn and Register Modal -->
		<%- include("components/modal") %>
			<!-- Contact / Footer -->
			<%- include("partials/_contact_footer") %>
				<!-- Scripts -->
				<%- include("partials/_scripts") %>